section {
  background-color: darkslateblue;
  display: flex;
}
a {
  color: white;
}
svg{
  background-color: darkslateblue;
  width: 100px;
  height: 100px;
  fill: ghostwhite;
  margin-left: 5px;
  margin-right: 10px;
}
.btn-primary {
  color: #fff;
  background-color: darkslateblue;
  border: none;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darkslateblue;
  background-image: none;
}
.dropdown-menu a {
  color: darkslateblue;
}
