section {
  background-color: darkslateblue;
  display: flex;
}
a {
  color: white;
  font-size: 46px;
  text-decoration: none;
}
.cities-menu:hover{
  text-decoration: underline;
}
svg{
  background-color: darkslateblue;
  width: 75px;
  height: 75px;
  fill: ghostwhite;
  margin-left: 5px;
  margin-right: 10px;
}
.btn-primary {
  color: #fff;
  background-color: darkslateblue;
  border: none;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darkslateblue;
  background-image: none;
}
.dropdown-menu {
  text-align: center;
}
.dropdown-menu a {
  color: darkslateblue;
  font-size: 32px;
}
