<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 city-container">
      <h1>{{city.name}}</h1>
      <h2>{{city.country}}</h2>
    </div>
    <div class="col-sm-8 image-container">
      <img src="{{city.imageUrl}}" alt=""/>
    </div>
  </div>
  <div class="row ">
    <h1>Posts</h1>
    <div class="col-sm-8 post-container">
      <div class="col-sm-3" id="post-image1">
        <img src="assets/images/no-img.jpeg" alt="">
      </div>
      <div class="col-sm-4" id="post-title1">
        <h3>Title</h3>
      </div>
      <div class="col-sm-8" id="post1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae, commodi cupiditate id impedit ipsam itaque iure laudantium maiores nemo nobis perferendis possimus quibusdam reiciendis reprehenderit sint unde ut voluptas.</p>
      </div>
    </div>
    <div class="col-sm-8 post-container">
      <div class="col-sm-3" id="post-image2">
        <img src="assets/images/no-img.jpeg" alt="">
      </div>
      <div class="col-sm-4" id="post-title2">
        <h3>Title</h3>
      </div>
      <div class="col-sm-8" id="post2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae, commodi cupiditate id impedit ipsam itaque iure laudantium maiores nemo nobis perferendis possimus quibusdam reiciendis reprehenderit sint unde ut voluptas.</p>
      </div>
    </div>
  </div>
</div>

