<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 city-container">
      <h1 id="city-name">{{city.name}}</h1>
      <h2>{{city.country}}</h2>
      <app-weather city="{{city.name}}" ></app-weather>
    </div>
    <div class="col-sm-8 image-container">
      <img src="{{city.imageUrl}}" alt=""/>
    </div>
  </div>
  <div class="row ">
    <h1>Posts</h1>
      <div *ngFor="let post of city.posts; index as i" [className]="post.title.length > 1 && post.title.length <= 200 && post.body.length != 0 ? 'post-container col-sm-10' : 'post-container-borderless'">
          <div class="col-sm-2 post-image">
            <img src="{{city.imageUrl}}" alt="">
          </div>
          <div class="col-sm-8">
            <h2>
              <a routerLink="/cities/{{city.id}}/posts/{{i}}" class="post-title">{{post.title}}</a>
            </h2>
            <p>{{post.body}}</p>
          </div>
      </div>
  </div>
</div>

