.mainContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.container-left{
  display: flex;
  align-content: space-between;
  border: solid black;
  margin-left: 0;
  padding: 10px 10px;
  width: 25%;
  background-color: darkslateblue;
  justify-content: center;

}
.container-right{
  border: solid black;
  height: auto;
  width: 74%;

}
.city-component{
  display: flex;
  border-radius: 25px;
  border: solid black;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
}

.img-container{
  padding: 5px;
}
img{

  height: 90px;
  width: 100px;
}
h1{
  color: white;
}

a {
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active{
  text-decoration: underline;
}


